# Server
PORT=3000

# PostgreSQL
POSTGRES_URL=POSTGRES_URL=postgresql://fanxiaohui@localhost:5432/kiwi_ai

# MongoDB
MongoDB_URI=mongodb://localhost:27017/kiwi_ai

# Auth
JWT_SECRET=change_me_in_dev
GOOGLE_CLIENT_ID=your_google_client_id

# AI
DEEPSEEK_API_KEY=your_deepseek_api_key
